-title(t('views.titles.post_comments'))

%h4
  = t('views.admin.comments.header')

- if @comments.empty?
  %p
    = t('views.admin.comments.empty')
- else
  %table.table.table-striped
    - @comments.each do |comment|
      %tr.active
        %td= format_date_time(comment.created_at)
        %td= comment.remote_address
        %td= comment.name
        %td= comment.comment_preview
        %td
          %a(href="#{admin_post_comment_path(comment.post, comment)}" data-method='delete' title="#{t('views.controls.delete')}"  data-confirm="#{t('views.controls.are_you_sure')}")
            .glyphicon.glyphicon-trash

= link_to(t('views.controls.back'), admin_posts_path, class: 'btn btn-default')