-title(t('views.titles.post_comments'))

%h4
  = t('views.admin.comments.header')

- if @comments.empty?
  %p
    = t('views.admin.comments.empty')
- else
= form_tag destroy_multiple_admin_post_comments_path, method: :delete do
  %table.table.table-striped
    - @comments.each do |comment|
      %tr.active
        %td= format_date_time(comment.created_at)
        %td= comment.remote_address
        %td= comment.name
        %td= comment.comment_preview
        %td
          = check_box_tag('comments[]', comment.id)
  %p.pull-right
    = submit_tag(t('views.controls.delete'), class: 'btn btn-primary', input_html: { 'data-confirm' => "#{t('views.controls.are_you_sure')}" })

%p
  = link_to(t('views.controls.back'), admin_posts_path, class: 'btn btn-default')