- @posts.each do |post|
  .well
    %h3
      = link_to(post.title, home_post_path(post.slug))
    %p
      = text_preview(post.text).html_safe
    .small
      - if post.comments.count != 0 && post.commentable?
        = link_to("#{t('views.controls.comments_count')}: #{post.comments.count}", "#{home_post_path(post)}#comments")
      .pull-right
        = format_date(post.created_at)
= paginate @posts