-title(@post.title)

.well
  %h3
    = @post.title
  %p
    = @post.text.html_safe
  %hr
  .small
    = format_date(@post.created_at)

- if @post.commentable?
  = render 'comments'
- else
  .panel.panel-default
    .panel-heading
      .notification
        = t('views.controls.uncommentable')