-title(@post.title)

.well
  %h3
    = @post.title
  %p
    = @post.text.html_safe
  %hr
  .small
    = format_date(@post.created_at)

- if @post.commentable?
  = render 'comments'
- else
  .panel.panel-default
    .panel-heading
<<<<<<< HEAD
      .h4
        &= comment.name
        .small.pull-right
          = format_date_time(comment.created_at)
    .panel-body
      &= markdown(comment.text)
%script
=======
      .notification
        = t('views.controls.uncommentable')
>>>>>>> develop
