-title(@post.title)

.well
  %h3
    = @post.title
  %p
    = @post.text.html_safe
  .small
    = format_date(@post.created_at)

.h5
  Комментариев:
  = @post.comments.count

.comment_form
  = simple_form_for @comment, url: post_add_comment_path do |f|
    = f.input :post_id, as: :hidden, input_html: { value: @post.id }
    .form-group
      = f.input :name, required: false, input_html: { class: 'form-control' }
    .form-group
      = f.input :text, required: false, input_html: { class: 'form-control comment_text_add' }
    .form-group
      = f.submit 'Оставить комментарий', class: 'btn btn-default'

- @post.comments.each do |comment|
  .comment
    .h4
      &= comment.name
    .small
      = format_date_time(comment.created_at)
    %p
      &= comment.text
    %hr