%p
  = link_to('Добавить пост', new_admin_post_path, class: 'btn btn-default')

%table.table.table-striped
  - @posts.each do |post|
    %tr.active
      %td= format_date_time(post.created_at)
      %td= post.title
      %td= link_to('Удалить', '#', class: 'delete_post', id: "#{post.id}" )
      %td= link_to('Редактировать', edit_admin_post_path(post))
