-title(t('views.titles.admin'))

%p
  = link_to(t('views.controls.add_post'), new_admin_post_path, class: 'btn btn-primary')

%table.table.table-striped
  - @posts.each do |post|
    %tr.active
      %td= format_date_time(post.created_at)
      %td= post.title
      %td
        -if post.published?
          %a(href="#{admin_post_unpublish_path(post)}" title="#{t('views.controls.published')}")
            .glyphicon.glyphicon-ok
        -else
          %a(href="#{admin_post_publish_path(post)}" title="#{t('views.controls.unpublished')}")
            .glyphicon.glyphicon-remove
      %td
        %a(href="#{admin_post_comments_path(post)}" title="#{t('views.controls.edit_comments')}")
          .glyphicon.glyphicon-comment
      %td
        %a(href="#{admin_post_path(post)}" title="#{t('views.controls.preview')}")
          .glyphicon.glyphicon-eye-open
      %td
        %a(href="#{edit_admin_post_path(post)}" title="#{t('views.controls.edit')}")
          .glyphicon.glyphicon-pencil
      %td
        %a(href="#{admin_post_path(post)}" data-method='delete' title="#{t('views.controls.delete')}" data-confirm="#{t('views.controls.are_you_sure')}")
          .glyphicon.glyphicon-trash

= paginate @posts