- @posts.each do |post|
  %div{ id: "#{post.id}" }
    = post.created_at
    %br
    = post.title
    %br
    = post.text
    %br
    = link_to('Удалить', '#', class: 'delete_post')
    %br
    = link_to('Редактировать', edit_admin_post_path(post))
  %hr

%br
%br
= link_to('Добавить пост', new_admin_post_path)