-title(t('views.titles.post_preview'))

%h4
  = t('views.admin.post_preview.header')

.well
  %h3
    = @post.title
  %p
    = @post.text.html_safe
  .small
    = format_date(@post.created_at)

= link_to(t('views.controls.back'), admin_path, class: 'btn btn-default')