%html
  %head
    %meta{charset: "utf-8"}/
    = javascript_include_tag :application
    = stylesheet_link_tag :application

    %title
      My blog

  %body
    .sign_out
      = link_to('Выйти', destroy_user_session_path, method: :delete)

    - flash.each do |name, msg|
      = content_tag :div, msg, class: "flash_#{name}"

    = yield