%html
  %head
    = javascript_include_tag :application
    = stylesheet_link_tag :application

    %title
      My blog

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "flash_#{name}"

    .main_wrapper
      = yield
